.link {
    color: blue;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid blue;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.link:hover {
    background-color: blue;
    color: white;
}
.container{
    display: flex;
    gap: 8px;
}